@import "./resets";
@import "./variables";

@function weight($weightName) {
  @return map-get($font-weights, $weightName);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $main-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__para {
    font-weight: weight(bold);

    &:hover {
      color: black;
    }
  }
}
